/**
 * @file
 * Styles are organized using the SMACSS technique. @see http://smacss.com/book/
 *
 * When you turn on CSS aggregation at admin/config/development/performance, all
 * of these @include files will be combined into a single file.
 */

/* HTML element (SMACSS base) rules */
@import "normalize.css";

/* Layout rules */
@import "layouts/responsive.css";

/* Component (SMACSS module) rules */
@import "components/misc.css";
/* Optionally, add your own components here. */
@import "print.css";

/* SMACSS theme rules */
/* @import "theme-A.css"; */
/* @import "theme-B.css"; */

* {
    box-sizing: border-box;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot?v=4.0.3');
  src: url('../font/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../font/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../font/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../font/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  -webkit-user-select: none;
     -moz-user-select: -moz-none;
      -ms-user-select: none;
          user-select: none;
}

#admin-menu-icon img {
  width: 22px;
}

.market {
   clear: both;
   
   
   background: #f2f5f6;
background: -moz-linear-gradient(top,  #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc));
background: -webkit-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
background: -o-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
background: -ms-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
background: linear-gradient(to bottom,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 );
width: 10000px;

   
}

.market-wrapper {
    clear: both;
    width: 10100px;
    overflow:hidden;
}

.market-name::after {
    /* content: "\f0ab";
    font-family: "FontAwesome";
    float: left;     */
}



.market-name {



    border:1px solid #999;
    border-left: none;

  -webkit-border-top-right-radius: 4px;
    -webkit-border-bottom-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    -moz-border-radius-bottomright: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;


  padding: 4px;
  float:left;
  width: 10000px;
  
  font-weight: bold;
  cursor: ns-resize;;

  
  
}

.drag-n-drop {
   
    border:1px solid #999;
    border-right: none;
    width: 30px;
    float: left;
    padding: 4px;
    box-sizing: border-box;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-bottom-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-bottomleft: 4px;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    cursor: move;
}



.market-name,
.drag-n-drop {
background: #f2f6f8;
background: -moz-linear-gradient(top,  #f2f6f8 0%, #d8e1e7 50%, #b5c6d0 51%, #e0eff9 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f6f8), color-stop(50%,#d8e1e7), color-stop(51%,#b5c6d0), color-stop(100%,#e0eff9));
background: -webkit-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
background: -o-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
background: -ms-linear-gradient(top,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
background: linear-gradient(to bottom,  #f2f6f8 0%,#d8e1e7 50%,#b5c6d0 51%,#e0eff9 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f6f8', endColorstr='#e0eff9',GradientType=0 );
-webkit-box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 5px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 5px 5px 0px rgba(50, 50, 50, 0.75);
 
}

.iscarrier-1 .market-name,
.iscarrier-1 .drag-n-drop {
  background: rgb(230,240,163);
background: -moz-linear-gradient(top,  rgba(230,240,163,1) 0%, rgba(210,230,56,1) 50%, rgba(195,216,37,1) 51%, rgba(219,240,67,1) 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(230,240,163,1)), color-stop(50%,rgba(210,230,56,1)), color-stop(51%,rgba(195,216,37,1)), color-stop(100%,rgba(219,240,67,1)));
background: -webkit-linear-gradient(top,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%);
background: -o-linear-gradient(top,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%);
background: -ms-linear-gradient(top,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%);
background: linear-gradient(to bottom,  rgba(230,240,163,1) 0%,rgba(210,230,56,1) 50%,rgba(195,216,37,1) 51%,rgba(219,240,67,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6f0a3', endColorstr='#dbf043',GradientType=0 );

}

.iscarrier-1 .market-name::after {
  content: "\f1b9";
      font-family: "FontAwesome";
      padding-left:10px;
}

.drag-n-drop::before {
    content: "\f0b2";
    font-family: "FontAwesome";
    padding:2px;
}

#cpanel-close {
    float: left;
}

#cpanel-close::before {
    content: "\f00d";
    display: block;
    float: left;
    font-family: "FontAwesome";
    color:#fff;
}



.product {
  clear:both;
  
  
    -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;

border:1px solid #fff;
overflow:hidden;
width:10000px;
}

.product .cell {
  
  padding: 4px;
  border-top: 1px solid #fff;
  width: 100px;
  float: left;
  
}

.product .cell:hover {
  /* border:1px solid #333;
  background:rgba(255, 255, 255, 0.4); */
  
}

.one-transport {
  font-size: 10px;
  text-transform: uppercase;
  line-height:1.2em;
  font-weight: bold;
}

.one-transport:hover {
   background:rgba(0, 0, 0, 0.4);
   color: #fff;
}

.product-data {
 
    border-right: 1px solid #fff;
    border-left: 1px solid #555;
    width: 400px;
}



.product-data .cell {
    text-align: center;
}

.product .cpanel {
  display: block;
  width: 20px;
}

.product .cpanel-wrapper {
  
  -webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
  
  padding: 0 6px 10px 6px;

  width: 460px;

  position: absolute;
  border: 1px solid #555;
  margin-top: -29px;
  margin-left: 25px;
  background: rgba(0,0,0,0.8);
  display: none;
}

.product .cpanel-wrapper label {
    color: #fff;
}

.product .cpanel-wrapper input,
.product .cpanel-wrapper select,
.product .cpanel-wrapper #transport-submit {
    float: left;
    margin: 0 4px;
}

.cpanel-subpanel {
    clear: both;
}

.product .cpanel-wrapper #transport-submit::before,
.product .cpanel-wrapper #start-amount-submit::before,
.product .cpanel-wrapper #report-submit::before {
    content: "\f0a9";
    font-family: "FontAwesome";
    color: #fff;
}
.product .cpanel-wrapper #amount-check::before {
  content: "\f059";
  font-family: "FontAwesome";
  color: #fff;
  float:left;
}

.product-id::before {
    content: "#ID";
    display: block;
    background: #ccc;
}

.product-name::before {
    content: "product";
    display: block;
    background: #ccc;
}

.product-start-amount::before {
    content: "amount";
    display: block;
    background: #ccc;
}


.product-data .report::before {
    content: "report";
    display: block;
    background: #ccc;
}

.product-data .amount::before {
    content: "amount";
    display: block;
    background: #ccc;
}

.product-data .state::before {
    content: "state";
    display: block;
    background: #ccc;
}

.product-data .transports::before {
    content: "transports";
    display: block;
    background: #ccc;
}

.product .cpanel::before {
    content: "\f013";
    font-family: "FontAwesome";
}

#message {
  position:absolute;
  background: rgba(0,0,0,0.8);
  padding: 10px;
  color: #fff;
}













.cell.product-id {
    width: 43px;
}

.product .product-data {
    width: 490px;
    height: 140px;
    overflow: hidden;
}
.report.cell {
    width: 80px;
}
.amount.cell {
    width: 80px;
}
.transports.cell {
    width: 200px;
}

.product-data-0 {
}

.colclose.cell {
  width: 16px;

  padding:0;
  cursor: pointer;
}

.colclose.cell .icon-close::before,
.colclose.cell .icon-open::before {
  content: "\f0a8";
  width:20px;
  height: 20px;
  display: block;
  font-family: "FontAwesome";
}

.colclose.cell .icon-open {
  display: none;
}

.colclose.cell .icon-open::before {
  content: "\f0a9";
}

.product .refresh.cell {
  width:20px;
}

.product .refresh.cell::before {
  content:"\f021";
  width:20px;
  height: 20px;
  display: block;
  font-family: "FontAwesome";  
}

#preloader {
  position:absolute;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  text-align: center;
  padding-top:15%;
  display: none;
}

#delete-yes,
#delete-no {
  cursor: pointer;
}
